.body {
    margin: 0px;
    font-size: 0px;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.page {
    width: 80vw;
    height: 90vh;
    margin: 40px;
}

.toolbar {
    background-color: grey;
    width: 10vw;
    height: 50vh;
    margin: 40px;
    border: 2px solid black;
}

#canvas {
    background-color: white;
    cursor: pointer;
    height: 500px;
    width: 500px;
    border: 2px solid black;
    overflow: hidden;
}

.palette {
    background-color: grey;
    height: 8%;
    width: 500px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

i.fas.fa-palette {
    color: white;
    font-size: 30px;
}

/*Toolbar*/

.tools {
    height: 50px;
    width: 50px;
}

.btn:hover {
    background-color: black;
}

.selected {
    background-color: black;
}

.btn {
    margin: 4px;
}

/*Colors toolbar*/

.color {
    height: 30px;
    width: 30px;
}

#violet {
    background-color: violet;
}

#purple {
    background-color: purple;
}

#pink {
    background-color: pink;
}

#coral {
    background-color: coral;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: greenyellow;
}

#red {
    background-color: red;
}

#white {
    background-color: white;
}

#blue {
    background-color: blue;
}

#grey {
    background-color: lightgrey;
}

#Zroller {
    height: 30px;
    width: 30px;
}

#Zbrush {
    height: 5px;
    width: 5px;
}